.loginParent {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loginForm {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 25px;
  border: solid 2px #0096c7;
  background-color: rgb(241, 241, 241);
  border-radius: 3px;
  transition: 0.5s;
}

.loginForm>button {
  transition: All 0.5s ease;
  width: 50%;
}

.loginForm>h1 {
  margin: 0;
}